html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
}

section[role="region"] {
  height: 100%;
}

div[role="main"] {
  height: calc(100% - 5rem);
  left: -1.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: calc(100% + 1.6rem);
  background:
    url(../shared/style/confirm/images/ui/pattern.png) repeat left top,
    url(../shared/style/confirm/images/ui/gradient.png) no-repeat left top / 100% 100% #000000;
}

section[role="region"] > header:first-child:after {
  background-color: #008AAA;
  background-image: none !important;
}

.quote {
  background-color: #FFFFFF;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  margin: 1rem 1rem 1rem 2.6rem;
}

.quote h2 {
  border-left: 1rem solid #008AAA;
  font: 2.5rem "MozTT",Sans-serif;
  margin: 0 0 0 1rem;
  padding-left: 0.5rem;
  float: left;
}

.quote-title-bar {
  padding-top: 1rem;
}

.quote-title-bar p {
  border: 0 none;
  margin: 0 !important;
  padding: 0;
  float: right;
}

.quote-title-bar img {
  padding: 0.2rem 0.5rem 0.5rem 1rem;
  width: 2rem;
}

.quote-body {
  padding-bottom: 1rem;
}

.quote-body p {
  font: 1.4rem "MozTT",Sans-serif;
  margin: 1rem 1rem 0;
  text-align: justify;
}

.quote-share {
  text-align: center;
  display: none;
}

.quote-share p {
  border-top: 0.2rem solid #008AAA;
  margin: 0 1rem;
  padding-top: 1rem;
}

.quote-share img {
  padding: 0 1.5rem 1rem;
  width: 4rem;
}

.quote-share a:last-child img {
  padding-right: 1rem;
}

.quote-share a:first-child img {
  padding-left: 1rem;
}

.clear {
  clear: both;
}
